@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:ital,wght@1,700&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Titan+One&display=swap');



body{
    cursor: wait;
}

.mons{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
.line1{
    transform: translate3d(0px, 0.25em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
.line2{
    transform: translate3d(0px, -0.25em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
    transform-style: preserve-3d;

}

@font-face {
    font-family: 'Arges';
    src: url('/public/fonts/arges-variable-wght-wdth-slnt.ttf');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
        font-family: 'BigS';
        src: url('/public/fonts/BigShouldersStencilText-Black.ttf');
        font-weight: normal;
        font-style: normal;
    }
@font-face {
        font-family: 'Ppmori';
        src: url('/public/fonts/PPMori-Regular.otf');
        font-weight: normal;
        font-style: normal;
    }

.osw{
    font-family: 'Oswald','Helvetica Neue',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
 } 

.ARGES{
    font-family: 'Titan One', sans-serif;
}